<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnosis prediction using SVM </title>
</head>
<body bgcolor="#7fffd4">
<h2 align="center">Give area values fro Diagnosis</h2>
<form method="post" action="/getdata/">
    <table align="center">
        <tr>
            <td>Enter Radius</td>
            <td><input type="text" name="Radius"/></td>
        </tr>
        <tr>
            <td>Enter Texture</td>
            <td><input type="text" name="Texture"/></td>
        </tr>
        <tr>
            <td>Enter Perimeter</td>
            <td><input type="text" name="Perimeter"/></td>
        </tr>
        <tr>
            <td>Enter Area</td>
            <td><input type="text" name="Area"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>